.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(50px, .5fr));
  gap: .0rem .0rem;
  align-items: start;
  justify-items: center;
  margin-bottom: 5rem;
}

@media (max-width: 640px) {
  .container {
    grid-template-columns: 1fr;
  }
}