.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(50px, .5fr));
  gap: 0rem 0xrem;
  align-items: start;
  justify-items: center;
}

@media (max-width: 640px) {
  .container {
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
  }
}