.footer-bar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 2.5rem 2.5rem;
  z-index: 10;
  background: #ffffff;
  margin-top: 2rem;
}

.footer-bar button {
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin: 0;
  color: #ffffff;
  background-color: #000;
  border: none;
  border-radius: 0;
  padding: 1.25rem 3rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.footer-bar button::before  {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 80%;              
  height: 2.5px;
  background: #000;
  transform: translateX(-50%);
}

.footer-bar button:hover {
  background: #333;
  letter-spacing: 0.2em;
}

