.headlight-color {
  display: grid;
  gap: .5rem;
  justify-items: center; 
}

.headlight-color h3 {
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  color: #000;
  text-align: center;
}

.headlight-selected-name {
  font-size: 1rem;
  font-weight: 450;
  color: #666;
  letter-spacing: 0.05em;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.headlight-buttons {
  display: flex;
  gap: 14px;
  justify-content: center;  
}

.headlight-buttons button {
  width: 40px;
  height: 40px;
  border-radius: 999px;
  border: 1.5px solid rgba(0,0,0,.15);
  outline: none;
  cursor: pointer;
  position: relative;
  transition: transform .08s ease, box-shadow .08s ease;
  background-color: #0b0b0b;
}

.headlight-buttons button:first-child {
  background-color: white;
}

.headlight-buttons button:first-child::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 2px;
  background-color: #666;
}

.headlight-buttons button:hover {
  transform: translateY(-1px);
  box-shadow: 0 1px 6px rgba(0,0,0,.12);
}

.headlight-buttons button.selected {
  border-color: rgba(0,0,0,.35);
  box-shadow: 0 0 0 2px rgba(0,0,0,.08);
}

.headlight-buttons button:last-child.selected::after {
  content: "";
  position: absolute;
  inset: 12px;
  border-radius: 999px;
  background-color: #ffffff;
}

